@font-face {
  font-family: "Work Sans";
  src: url("./fonts/Work_Sans/static/WorkSans-Bold.ttf");
}

body{
  background-color: #F2EBD8;
}
.aboutButton{
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  position: relative;

  font-family: "Work Sans";
  font-size: 180%;
  
  align-items: center;
  text-align: right;
  text-transform: uppercase;

  left: 87rem;
  top: -119rem;

  transform: rotate(90deg);
}
.aboutArrow{
  position: absolute;
  top: 42rem;
  left: 95%
}

@media only screen and (min-width: 1200px){
  .aboutArrow{
    left: 75%;
  }
}

@media only screen and (min-width: 992px){
  .aboutArrow{
    left: 95%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
  .aboutButton{
    font-family: "Work Sans";
    font-size: 135%;
    
    left: 45.5rem;
    top: -131.5rem;
  }
  .aboutArrow{
    top: 30rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 768px){
  .aboutButton{
    font-family: "Work Sans";
    font-size: 105%;
    
    left: 22.5rem;
    top: -144.25rem;
  }
  .aboutArrow{
    top: 16.5rem;
    font-size: 25%;
  }
}
